{#Указываем какой общий шаблон мы будем использовать для каждой страницы#}
{% extends 'base.html' %}
{#Добавляем статику#}
{% load static %}

{#Подключаем css-стили для footer#}
{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{#Добавляем контент для главной страницы#}
{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">{{ text_on_page }}</p>
    </div>
{% endblock %}

{#Добавляем футер для главной страницы#}
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; DyakArt 2024</p>
        </div>
    </footer>
{% endblock %}