{#Указываем какой общий шаблон мы будем использовать для каждой страницы#}
{% extends 'base.html' %}
{% load static %}

{#Подключаем css-стили для footer#}
{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
    {% include 'includes/cart_button.html' %}
{% endblock %}

{#Добавляем контент для главной страницы#}
{% block content %}
    <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
{% endblock %}

{#Добавляем футер для главной страницы#}
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; DyakArt 2024</p>
        </div>
    </footer>
{% endblock %}